<div class="min-vh-100 text-center bg-white d-flex justify-content-center align-items-center">
<div>
  <h1 class="fw-bolder ">PORTFOLIO COMPONENT</h1>
<div class="star py-3"><i class="fa-solid fa-star"></i></div>

<form>
  <div class="input-container">
    <input placeholder="userName" class="input-field" type="text">
    <label for="input-field" class="input-label">userName :</label>
    <span class="input-highlight"></span>
  </div>
  <div class="input-container">
    <input placeholder="userAge" class="input-field" type="number">
    <label for="input-field" class="input-label">userAge :</label>
    <span class="input-highlight"></span>
  </div>
  <div class="input-container">
    <input placeholder="userEmail" class="input-field" type="email">
    <label for="input-field" class="input-label">userEmail :</label>
    <span class="input-highlight"></span>
  </div>
  <div class="input-container">
    <input placeholder="userPassword" class="input-field" type="password">
    <label for="input-field" class="input-label">userPassword :</label>
    <span class="input-highlight"></span>
  </div>

<button type="button" class="mt-4">
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
    <span class="circle4"></span>
    <span class="circle5"></span>
    <span class="text">send Massage</span>
</button>
</form>

</div>
</div>
