<div class="min-vh-100 text-center pb-5 bg-white d-flex justify-content-center align-items-center">
<div class="mt-10">
<h1 class="fw-bolder ">PORTFOLIO COMPONENT</h1>
<div class="star py-3"><i class="fa-solid fa-star"></i></div>
<div class="container">
  <div class="row g-5">
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="poert1.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center "><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="port2.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="port3.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="poert1.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="port2.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="port3.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="poert1.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="port2.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="position-relative overflow-hidden rounded-3">
        <img src="port3.png" alt="" class="w-100">
        <div class="layer d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white fa-8x"></i></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
